<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td,th,tr{
            border: 2px solid blue;
            
        }
        table{
            margin: 30px;
        }
    </style>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <% if (locals.id) {%>
       <p>URL Generated: http://localhost:8001/url/<%=id%></p>

        
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label for="">Enter Your URL Here: </label>
            <input type="text" name="url" placeholder="https://example.ex">
            <button type="submit">Generate</button>
        </form>
    
    <% if (locals.urls) { %>
    <table>
        <thead>
            <th>sl No</th>
            <th>redirectUrl</th>
            <th>shortId</th>
            <th>Total Clicks</th>
            <th>CreatedBy</th>
           
        </thead>
        <tbody>
            <% urls.forEach((url,index) => {%>
                <tr>
                    <td><%=index+1 %></td>
                    <td><%=url.redirectUrl %></td> 
                    <td><a href="http://localhost:8001/url/<%=url.shortId %>">http://localhost:8001/url/<%=url.shortId %></a></td>
                    <td><%=url.visitHistory.length %></td>
                   <%if(locals.createdBy._id == url.createdBy){%>  <td><%=locals.createdBy.role%></td><%}
                    else{%><td>
                        NORMAL</td>
                   <% }
                    
                    %>
                    
                </tr>
                 
            <% }); %>
        </tbody>
    </table>
<%  }%>
<hr>
 <button id="signout-btn">Sign Out</button>
 <hr>
 <form method="GET"  action="/admin">
 <button type="submit">Admin Dashboard</button>
</form>
 <script src="/js/script.js"></script>
</body>
</html>