<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>

<body>
    <div id="container">
        <h1>URL SHORTENER</h1>

        <div id="generate-box">
            <% if (locals.id) { %>
               URL Generated:  <a href="http://localhost:8001/url/<%= id %>">
                    http://localhost:8001/url/<%= id %>
                </a>
            <% } %>
        </div>

        <div class="form">
            <form method="POST" action="/url">
                <div id="input-box">
                    <label for="url-input">Enter Your URL Here:</label>
                    <input type="text" name="url" id="url-input" placeholder="https://example.ex">
                    <button type="submit" id="btn">Generate</button>
                </div>
            </form>
        </div>

        <div id="table-box">
            <% if (locals.urls) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Redirect URL</th>
                            <th>Short ID</th>
                            <th>Total Clicks</th>
                            <th>Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% urls.forEach((url, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= url.redirectUrl %></td>
                                <td>
                                    <a href="http://localhost:8001/url/<%= url.shortId %>">
                                        http://localhost:8001/url/<%= url.shortId %>
                                    </a>
                                </td>
                                <td><%= url.visitHistory.length %></td>
                                <td><%= createdBy.role %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        </div>

        <div id="signout-box">
            <button  id="signout-btn">Sign Out</button>
           
        </div>
    </div>
    <script src="/js/script.js" ></script>
    <script src="/js/script1.js"></script>
</body>

</html>
